# Idea files
.idea
*.iml

# Dep package manager
/vendor
/Gopkg.lock
/Gopkg.toml

# Terraform
./*.tfstate
.terraform

# Mac Weirdness
.DS_Store

# Build
terraform-provider-ochk
terraform.tfvars
*.tfvars
terraform.tfplan
terraform.tfstate
terraform.tfstate.backup
terraform.d
.terraform.tfstate.lock.info
*.log
dist
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfstate.lock.info