{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "iaas-api-proxy.ochk.pilot",
  "basePath": "/",
  "tags": [
    {
      "name": "Active Directory RSA Public Key",
      "description": "Ads Public Key Controller"
    },
    {
      "name": "Active Directory Sync",
      "description": "Sync Controller"
    },
    {
      "name": "Backups",
      "description": "Backup Controller"
    },
    {
      "name": "Billing tags",
      "description": "Billing Tag Controller"
    },
    {
      "name": "Context profiles",
      "description": "Context Profile Controller"
    },
    {
      "name": "Custom services",
      "description": "Custom Service Controller"
    },
    {
      "name": "Default services",
      "description": "Service Controller"
    },
    {
      "name": "Deployments",
      "description": "Deployment Controller"
    },
    {
      "name": "Edge Clusters",
      "description": "Edge Cluster Controller"
    },
    {
      "name": "Firewall rules E-W",
      "description": "DFW Rule Controller"
    },
    {
      "name": "Firewall rules S-N",
      "description": "GFW Rule Controller"
    },
    {
      "name": "Gateway policies",
      "description": "Gateway Policy Controller"
    },
    {
      "name": "Groups",
      "description": "Groups Controller"
    },
    {
      "name": "IP Collections",
      "description": "Ip Collection Controller"
    },
    {
      "name": "KMS Key management",
      "description": "Key Controller"
    },
    {
      "name": "KMS Key rotation scheduler",
      "description": "Key Schedule Controller"
    },
    {
      "name": "Log categories",
      "description": "Log Controller"
    },
    {
      "name": "Logical ports",
      "description": "Logical Port Controller"
    },
    {
      "name": "MCS Secret",
      "description": "Mcs Secret Controller"
    },
    {
      "name": "Network profiles",
      "description": "Network Profile Controller"
    },
    {
      "name": "Networks",
      "description": "Vcs Network Controller"
    },
    {
      "name": "Principals",
      "description": "Principal Controller"
    },
    {
      "name": "Requests",
      "description": "Request Controller"
    },
    {
      "name": "Resource pools",
      "description": "Resource Pool Controller"
    },
    {
      "name": "Routers",
      "description": "Router Controller"
    },
    {
      "name": "Security groups",
      "description": "Security Group Controller"
    },
    {
      "name": "Security policies",
      "description": "Security Policy Controller"
    },
    {
      "name": "Snapshots",
      "description": "Snapshot Controller"
    },
    {
      "name": "Subtenant custom groups",
      "description": "Subtenant Group Member Controller"
    },
    {
      "name": "Subtenants",
      "description": "Subtenant Controller"
    },
    {
      "name": "System tags",
      "description": "System Tag Controller"
    },
    {
      "name": "Users",
      "description": "Users Controller"
    },
    {
      "name": "Virtual machine overall reports",
      "description": "Virtual Machine Performance Report Controller"
    },
    {
      "name": "Virtual machine performance reports",
      "description": "Virtual Machine Overall Report Controller"
    },
    {
      "name": "Virtual machines",
      "description": "Vcs Virtual Machine Controller"
    },
    {
      "name": "Virtual machines (NSX)",
      "description": "Virtual Machine Controller"
    },
    {
      "name": "Virtual networks",
      "description": "Virtual Network Controller"
    },
    {
      "name": "vIDM",
      "description": "VIDM Controller"
    }
  ],
  "paths": {
    "/ads/cer": {
      "post": {
        "tags": [
          "Active Directory RSA Public Key"
        ],
        "summary": "Get public key",
        "description": "Get public key",
        "operationId": "getPublicKeyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getPublicKeyRequest",
            "description": "getPublicKeyRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPublicKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/GetPublicKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/ads/sync": {
      "post": {
        "tags": [
          "Active Directory Sync"
        ],
        "summary": "Sync",
        "description": "Sync",
        "operationId": "syncUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createSyncRequest",
            "description": "createSyncRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSyncRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SyncMessageResponse"
            }
          },
          "201": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/SyncMessageResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/backups/plans": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List backup plans",
        "description": "List backup plans",
        "operationId": "backupPlanListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupPlanName",
            "in": "query",
            "description": "backupPlanName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupPlanListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get backup plan",
        "description": "Get backup plan",
        "operationId": "backupPlanGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupPlanGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}/lists": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List backup lists",
        "description": "List backup lists",
        "operationId": "backupListListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupListName",
            "in": "query",
            "description": "backupListName",
            "required": false,
            "type": "string"
          },
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupListListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}/lists/{backupListId}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get backup list get",
        "description": "Get backup list",
        "operationId": "backupListGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupListId",
            "in": "path",
            "description": "backupListId",
            "required": true,
            "type": "string"
          },
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupListGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/billing/virtual-machine/performance": {
      "get": {
        "tags": [
          "Virtual machine overall reports"
        ],
        "summary": "List",
        "description": "Get virtual machine performance report",
        "operationId": "virtualMachinePerformanceReportListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachinePerformanceReportGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/billing/virtual-machine/summary": {
      "get": {
        "tags": [
          "Virtual machine performance reports"
        ],
        "summary": "List",
        "description": "Get virtual machine overall report",
        "operationId": "virtualMachineOverallReportGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineSummaryReportGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List",
        "description": "List deployments from server",
        "operationId": "deploymentListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get",
        "description": "Get deployment object",
        "operationId": "deploymentGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "deploymentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List",
        "description": "List users from vra/core",
        "operationId": "groupListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get",
        "description": "Get user",
        "operationId": "groupGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/identity/principals/{principalId}": {
      "get": {
        "tags": [
          "Principals"
        ],
        "summary": "Get",
        "description": "Get principal",
        "operationId": "principalGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "principalId",
            "in": "path",
            "description": "principalId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrincipalGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/ipcs": {
      "get": {
        "tags": [
          "IP Collections"
        ],
        "summary": "List",
        "description": "List ip collection",
        "operationId": "ipCollectionListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Create",
        "description": "Create Ip collection",
        "operationId": "ipCollectionCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ipCollection",
            "description": "ipCollection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/IpCollectionCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/ipcs/{ipCollectionId}": {
      "get": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Get",
        "description": "Get ip collection",
        "operationId": "ipCollectionGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Update",
        "description": "Update ip collection",
        "operationId": "ipCollectionUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ipCollection",
            "description": "ipCollection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCollection"
            }
          },
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Delete",
        "description": "Delete ip collection",
        "operationId": "ipCollectionDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionDeleteResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key": {
      "get": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "List",
        "description": "List KMS keys",
        "operationId": "keyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Create",
        "description": "Create key (KMS)",
        "operationId": "keyCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyInstance",
            "description": "keyInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateKmsKeyResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/import": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Import",
        "description": "Import key (KMS)",
        "operationId": "keyImportUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyImport",
            "description": "keyImport",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyImport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImportKmsKeyResponse"
            }
          },
          "201": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/ImportKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}": {
      "get": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Get",
        "description": "Get KMS key",
        "operationId": "keyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "delete": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Delete",
        "description": "Delete key (KMS)",
        "operationId": "keyDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/export": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Export",
        "description": "Export key (KMS)",
        "operationId": "keyExportUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyExport",
            "description": "keyExport",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyExport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key has been exported successfully.",
            "schema": {
              "$ref": "#/definitions/ExportKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/revoke": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Revoke",
        "description": "Revoke key (KMS)",
        "operationId": "keyRevokeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyRevocation",
            "description": "keyRevocation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRevocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key has been revoked.",
            "schema": {
              "$ref": "#/definitions/RevokeKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/versions": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "New version",
        "description": "Create new key version (KMS)",
        "operationId": "keyNewVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyNewVersion",
            "description": "keyNewVersion",
            "required": false,
            "schema": {
              "$ref": "#/definitions/KeyNewVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateNewKmsKeyVersionResponse"
            }
          },
          "201": {
            "description": "New key version has been created.",
            "schema": {
              "$ref": "#/definitions/CreateNewKmsKeyVersionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/schedule": {
      "put": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Create",
        "description": "Create key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyRotationSchedule",
            "description": "keyRotationSchedule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRotationSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateKeyRotationScheduleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/schedule/{keyId}": {
      "get": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Get",
        "description": "Get key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyRotationScheduleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Update",
        "description": "Update key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyRotationSchedule",
            "description": "keyRotationSchedule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRotationSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Delete",
        "description": "Delete key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories": {
      "get": {
        "tags": [
          "Log categories"
        ],
        "summary": "List",
        "description": "List log categories",
        "operationId": "logCategoriesListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryName",
            "in": "query",
            "description": "logCategoryName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories/{logCategoryId}": {
      "get": {
        "tags": [
          "Log categories"
        ],
        "summary": "Get",
        "description": "Get log category",
        "operationId": "logCategoryGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Log categories"
        ],
        "summary": "Update",
        "description": "Update log category",
        "operationId": "logCategoryUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "logCategory",
            "description": "logCategory",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogCategory"
            }
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/UpdateLogCategoryResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories/{logCategoryId}/generate": {
      "post": {
        "tags": [
          "Log categories"
        ],
        "summary": "Get logs",
        "description": "Get logs",
        "operationId": "getLogsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataSize",
            "in": "query",
            "description": "dataSize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lastIndex",
            "in": "query",
            "description": "lastIndex",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/GetLogsResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/mcs/secret": {
      "get": {
        "tags": [
          "MCS Secret"
        ],
        "summary": "Get MCS secret",
        "description": "Get MCS secret",
        "operationId": "mcsGetSecretUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "username",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/McsSecretGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/mcs/secret/generate": {
      "post": {
        "tags": [
          "MCS Secret"
        ],
        "summary": "Generate MCS secret",
        "description": "Generate MCS Secret",
        "operationId": "mcsGenerateSecretUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "mcsSecret",
            "description": "mcsSecret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/McsSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/McsSecretGenerateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/context-profiles": {
      "get": {
        "tags": [
          "Context profiles"
        ],
        "summary": "List",
        "description": "List context profiles from NSX-T",
        "operationId": "contextProfileListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContextProfileListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/custom-services": {
      "get": {
        "tags": [
          "Custom services"
        ],
        "summary": "List",
        "description": "List custom services from NSX-T",
        "operationId": "customServiceListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom services"
        ],
        "summary": "Create",
        "description": "Create custom service in NSX-T",
        "operationId": "customServiceCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customServiceInstance",
            "description": "customServiceInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomServiceInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/custom-services/{serviceId}": {
      "get": {
        "tags": [
          "Custom services"
        ],
        "summary": "Get",
        "description": "Get custom service from NSX-T",
        "operationId": "customServiceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Custom services"
        ],
        "summary": "Update",
        "description": "Update custom service from NSX-T",
        "operationId": "customServiceUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customServiceInstance",
            "description": "customServiceInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomServiceInstance"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom services"
        ],
        "summary": "Delete",
        "description": "Delete custom service from NSX-T",
        "operationId": "customServiceDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/default-services": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "List",
        "description": "List default services from NSX-T",
        "operationId": "serviceListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/default-services/{serviceId}": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "Get",
        "description": "Get default service from NSX-T",
        "operationId": "serviceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/edge-clusters": {
      "get": {
        "tags": [
          "Edge Clusters"
        ],
        "summary": "List",
        "description": "List edge clusters from NSX-T",
        "operationId": "logicalPortListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EdgeClusterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/edge-clusters/{edgeClusterId}": {
      "get": {
        "tags": [
          "Edge Clusters"
        ],
        "summary": "Get",
        "description": "Get edge cluster from NSX-T",
        "operationId": "edgeClusterGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "edgeClusterId",
            "in": "path",
            "description": "edgeClusterId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EdgeClusterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/gateway-policies": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "List",
        "description": "List gateway policies from NSX-T",
        "operationId": "gatewayPolicyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "Get",
        "description": "Get gateway policies from NSX-T",
        "operationId": "gatewayPolicyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/security-policies": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "List",
        "description": "List security policies from NSX-T",
        "operationId": "securityPolicyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/firewall/security-policies/{SecurityPolicyId}": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "Get",
        "description": "Get security policy from NSX-T",
        "operationId": "securityPolicyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SecurityPolicyId",
            "in": "path",
            "description": "SecurityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/logical-ports": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "List",
        "description": "List logical ports from NSX-T",
        "operationId": "logicalPortListUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/logical-ports/{logicalPortId}": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "Get",
        "description": "Get logical port from NSX-T",
        "operationId": "logicalPortGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logicalPortId",
            "in": "path",
            "description": "logicalPortId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/routers": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "List",
        "description": "List routers T0/T1 from NSX-T",
        "operationId": "routerListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Create",
        "description": "Create router T1 in NSX-T",
        "operationId": "routerCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "Get",
        "description": "Get router from NSX-T",
        "operationId": "routerGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Update",
        "description": "Update router T1 from NSX-T",
        "operationId": "routerUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Routers"
        ],
        "summary": "Delete",
        "description": "Delete router T1 from NSX-T",
        "operationId": "routerDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}/rules/e-w": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "List",
        "description": "List firewall rules (east-west) from NSX-T",
        "operationId": "dfwRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Create",
        "description": "Create firewall rule (east-west) in NSX-T",
        "operationId": "dfwRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}/rules/e-w/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Get",
        "description": "Get firewall rule (east-west) from NSX-T",
        "operationId": "dfwRuleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Update",
        "description": "Update firewall rule (east-west) in NSX-T",
        "operationId": "dfwRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateDFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (east-west) from NSX-T",
        "operationId": "dfwRuleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteDFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}/rules/s-n": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "List",
        "description": "List firewall rules (south-north) from NSX-T",
        "operationId": "gfwRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Create",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "gfwRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}/rules/s-n/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Get",
        "description": "Get firewall rule (south-north) from NSX-T",
        "operationId": "gfwRuleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Update",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "gfwRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateGFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (south-north) from NSX-T",
        "operationId": "gfwRuleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteGFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/security-groups": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "List",
        "description": "List security groups from NSX-T",
        "operationId": "securityGroupListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Create",
        "description": "Create security group in NSX-T",
        "operationId": "securityGroupCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/security-groups/{groupId}": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "Get",
        "description": "Get security group from NSX-T",
        "operationId": "securityGroupGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Update",
        "description": "Update security group from NSX-T",
        "operationId": "securityGroupUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityGroupResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Security groups"
        ],
        "summary": "Delete",
        "description": "Delete security group from NSX-T",
        "operationId": "securityGroupDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/virtual-machines": {
      "get": {
        "tags": [
          "Virtual machines (NSX)"
        ],
        "summary": "List virtual machines",
        "description": "List virtual machines from NSX-T level",
        "operationId": "virtualMachineListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/virtual-machines/{virtualMachineId}": {
      "get": {
        "tags": [
          "Virtual machines (NSX)"
        ],
        "summary": "Get",
        "description": "Get virtual machine from NSX-T",
        "operationId": "virtualMachineGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualMachineId",
            "in": "path",
            "description": "virtualMachineId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/networks": {
      "get": {
        "tags": [
          "Virtual networks"
        ],
        "summary": "List",
        "description": "List virtual network",
        "operationId": "virtualNetworkListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Virtual networks"
        ],
        "summary": "Create",
        "description": "Create virtual network",
        "operationId": "virtualNetworkCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "virtualNetworkInstance",
            "description": "virtualNetworkInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/networks/{virtualNetworkId}": {
      "get": {
        "tags": [
          "Virtual networks"
        ],
        "summary": "Get",
        "description": "Get virtual network",
        "operationId": "virtualNetworkGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualNetworkId",
            "in": "path",
            "description": "virtualNetworkId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Virtual networks"
        ],
        "summary": "Update",
        "description": "Update virtual network",
        "operationId": "virtualNetworkUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualNetworkId",
            "in": "path",
            "description": "virtualNetworkId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "virtualNetworkInstance",
            "description": "virtualNetworkInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkUpdateResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Virtual networks"
        ],
        "summary": "Delete",
        "description": "Delete virtual network",
        "operationId": "virtualNetworkDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualNetworkId",
            "in": "path",
            "description": "virtualNetworkId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkDeleteResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkDeleteResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/request/": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "List",
        "description": "List IaaS requests.",
        "operationId": "requestListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "active",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInstanceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/request/{requestId}": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Get",
        "description": "Get IaaS requests.",
        "operationId": "requestGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInstanceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/subtenants": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "List",
        "description": "List subtenants",
        "operationId": "subtenantListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Create",
        "description": "Create subtenant (business group)",
        "operationId": "subtenantCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "subtenantInstance",
            "description": "subtenantInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubtenantInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/SubtenantCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/subtenants/{subtenantId}": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Get",
        "description": "Get subtenant from NSX-T",
        "operationId": "subtenantGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Update",
        "description": "Update subtenant",
        "operationId": "subtenantUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "subtenantInstance",
            "description": "subtenantInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubtenantInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantUpdateResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/SubtenantUpdateResponse"
            }
          },
          "400": {
[...]
