{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "iaas-api-proxy.ochk.pilot",
  "basePath": "/",
  "tags": [
    {
      "name": "Context profiles",
      "description": "Context Profile Controller"
    },
    {
      "name": "Default services",
      "description": "Service Controller"
    },
    {
      "name": "Edge Clusters",
      "description": "Edge Cluster Controller"
    },
    {
      "name": "Firewall rules E-W",
      "description": "DFW Rule Controller"
    },
    {
      "name": "Firewall rules S-N",
      "description": "GFW Rule Controller"
    },
    {
      "name": "Gateway policies",
      "description": "Gateway Policy Controller"
    },
    {
      "name": "IPSets",
      "description": "IP Set Controller"
    },
    {
      "name": "Logical ports",
      "description": "Logical Port Controller"
    },
    {
      "name": "Networks",
      "description": "Vcs Network Controller"
    },
    {
      "name": "Routers",
      "description": "Router Controller"
    },
    {
      "name": "Security groups",
      "description": "Security Group Controller"
    },
    {
      "name": "Security policies",
      "description": "Security Policy Controller"
    },
    {
      "name": "Subtenants",
      "description": "Subtenant Controller"
    },
    {
      "name": "Subtenants/Networks",
      "description": "Subtenant Network Controller"
    },
    {
      "name": "Subtenants/Reservations",
      "description": "Reservations Controller"
    },
    {
      "name": "Virtual machines",
      "description": "Vcs Virtual Machine Controller"
    },
    {
      "name": "identity/principals",
      "description": "Principal Controller"
    },
    {
      "name": "identity/users",
      "description": "Users Controller"
    },
    {
      "name": "vIDM",
      "description": "VIDM Controller"
    }
  ],
  "paths": {
    "/identity/principals/{principalId}": {
      "get": {
        "tags": [
          "identity/principals"
        ],
        "summary": "Get",
        "description": "Get principal",
        "operationId": "PrincipalGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "principalId",
            "in": "path",
            "description": "principalId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrincipalGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/context-profiles": {
      "get": {
        "tags": [
          "Context profiles"
        ],
        "summary": "List",
        "description": "List context profiles from NSX-T",
        "operationId": "ContextProfileListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContextProfileListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/default-services": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "List",
        "description": "List default services from NSX-T",
        "operationId": "ServiceListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/default-services/{serviceId}": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "Get",
        "description": "Get default service from NSX-T",
        "operationId": "ServiceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/edge-clusters": {
      "get": {
        "tags": [
          "Edge Clusters"
        ],
        "summary": "List",
        "description": "List edge clusters from NSX-T",
        "operationId": "LogicalPortListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EdgeClusterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/edge-clusters/{edgeClusterId}": {
      "get": {
        "tags": [
          "Edge Clusters"
        ],
        "summary": "Get",
        "description": "Get edge cluster from NSX-T",
        "operationId": "EdgeClusterGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "edgeClusterId",
            "in": "path",
            "description": "edgeClusterId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EdgeClusterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/gateway-policies": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "List",
        "description": "List gateway policies from NSX-T",
        "operationId": "GatewayPolicyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "Get",
        "description": "Get gateway policies from NSX-T",
        "operationId": "GatewayPolicyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "List",
        "description": "List firewall rules (south-north) from NSX-T",
        "operationId": "GFWRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules/": {
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Create",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "GFWRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Get",
        "description": "Get firewall rule (south-north) from NSX-T",
        "operationId": "GFWRuleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Update",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "GFWRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (south-north) from NSX-T",
        "operationId": "GFWRuleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "List",
        "description": "List security policies from NSX-T",
        "operationId": "SecurityPolicyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{SecurityPolicyId}": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "Get",
        "description": "Get security policy from NSX-T",
        "operationId": "SecurityPolicyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SecurityPolicyId",
            "in": "path",
            "description": "SecurityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "List",
        "description": "List firewall rules (east-west) from NSX-T",
        "operationId": "DFWRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules/": {
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Create",
        "description": "Create firewall rule (east-west) in NSX-T",
        "operationId": "DFWRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          },
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Get",
        "description": "Get firewall rule (east-west) from NSX-T",
        "operationId": "DFWRuleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Update",
        "description": "Update firewall rule (east-west) in NSX-T",
        "operationId": "DFWRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (east-west) from NSX-T",
        "operationId": "DFWRuleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/ipsets": {
      "get": {
        "tags": [
          "IPSets"
        ],
        "summary": "List",
        "description": "List IPSets from NSX-T",
        "operationId": "IPSetListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IPSetListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/ipsets/{ipSetId}": {
      "get": {
        "tags": [
          "IPSets"
        ],
        "summary": "Get",
        "description": "Get IPSet from NSX-T",
        "operationId": "IPSetGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipSetId",
            "in": "path",
            "description": "ipSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IPSetGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/logical-ports": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "List",
        "description": "List logical ports from NSX-T",
        "operationId": "LogicalPortListUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/logical-ports/{logicalPortId}": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "Get",
        "description": "Get logical port from NSX-T",
        "operationId": "LogicalPortGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logicalPortId",
            "in": "path",
            "description": "logicalPortId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/routers": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "List",
        "description": "List routers T0/T1 from NSX-T",
        "operationId": "RouterListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Create",
        "description": "Create router T1 in NSX-T",
        "operationId": "RouterCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/routers/{routerId}": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "Get",
        "description": "Get router from NSX-T",
        "operationId": "RouterGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Update",
        "description": "Update router T1 from NSX-T",
        "operationId": "RouterUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Routers"
        ],
        "summary": "Delete",
        "description": "Delete router T1 from NSX-T",
        "operationId": "RouterDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/security-groups": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "List",
        "description": "List security groups from NSX-T",
        "operationId": "SecurityGroupListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Create",
        "description": "Create security group in NSX-T",
        "operationId": "SecurityGroupCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/security-groups/{groupId}": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "Get",
        "description": "Get security group from NSX-T",
        "operationId": "SecurityGroupGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Update",
        "description": "Update security group from NSX-T",
        "operationId": "SecurityGroupUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Security groups"
        ],
        "summary": "Delete",
        "description": "Delete security group from NSX-T",
        "operationId": "SecurityGroupDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/virtual-machines": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "List virtual machines",
        "description": "List virtual machines from NSX-T level",
        "operationId": "VirtualMachineListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/virtual-machines/{virtualMachineId}": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "Get",
        "description": "Get virtual machine from NSX-T",
        "operationId": "VirtualMachineGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualMachineId",
            "in": "path",
            "description": "virtualMachineId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/subtenants": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "List",
        "description": "List subtenants",
        "operationId": "SubtenantListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "put": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Create",
        "description": "Create subtenant (business group)",
        "operationId": "SubtenantCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "subtenantInstance",
            "description": "subtenantInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubtenantInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/SubtenantCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/subtenants/{subtenantId}": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Get",
        "description": "Get subtenant from NSX-T",
        "operationId": "SubtenantGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Update",
        "description": "Update subtenant",
        "operationId": "SubtenantUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "subtenantInstance",
            "description": "subtenantInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubtenantInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Delete",
        "description": "Delete subtenant",
        "operationId": "SecurityGroupDeleteUsingDELETE_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantDeleteResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/subtenants/{subtenantId}/networks": {
      "get": {
        "tags": [
          "Subtenants/Networks"
        ],
        "summary": "List",
        "description": "List network in subtenant",
        "operationId": "NetworkListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/subtenants/{subtenantId}/networks/{networkId}": {
      "get": {
        "tags": [
          "Subtenants/Networks"
        ],
        "summary": "Get",
        "description": "Get network for subtenant",
        "operationId": "NetworkGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "networkId",
            "required": true,
            "type": "string"
          },
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/subtenants/{subtenantId}/reservations": {
      "get": {
        "tags": [
          "Subtenants/Reservations"
        ],
        "summary": "List",
        "description": "List reservations",
        "operationId": "ReservationListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReservationListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/subtenants/{subtenantId}/reservations/{reservationId}": {
      "get": {
        "tags": [
          "Subtenants/Reservations"
        ],
        "summary": "Get",
        "description": "Get reservation",
        "operationId": "ReservationGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "description": "reservationId",
            "required": true,
            "type": "string"
          },
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReservationGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "identity/users"
        ],
        "summary": "List",
        "description": "List users from vra/core",
        "operationId": "UserListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "description": "userName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "identity/users"
        ],
        "summary": "Get",
        "description": "Get user",
        "operationId": "UserGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vcs/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "List",
        "description": "List vSphere vCenter networks",
        "operationId": "VcsVirtualMachineListUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/vcs/networks/{networkId}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get",
        "description": "Get vSphere vCenter networks",
        "operationId": "VcsVirtualMachineGroupGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "networkId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vcs/virtual-machines": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "List",
        "description": "List vSphere vCenter virtual machines",
        "operationId": "VcsVirtualMachineListUsingGET_1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/vcs/virtual-machines/{virtualMachineId}": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "Get",
        "description": "Get vSphere vCenter virtual machine",
        "operationId": "VcsVirtualMachineGroupGetUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualMachineId",
            "in": "path",
            "description": "virtualMachineId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vidm/token": {
      "post": {
        "tags": [
          "vIDM"
        ],
        "summary": "Get",
        "description": "Generate authorization token",
        "operationId": "getTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "vidmTokenRequest",
            "description": "vidmTokenRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VIDMTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VIDMTokenResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeInstance": {
      "type": "object",
      "properties": {
        "attributeId": {
          "type": "integer",
          "format": "int32"
        },
        "attributeKey": {
          "type": "string"
        },
        "attributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeValueInstance"
          }
        },
        "dataType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isALGType": {
          "type": "boolean"
        },
        "subAttributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeInstance"
          }
        }
      },
      "title": "AttributeInstance"
    },
    "AttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AttributeValueInstance"
    },
    "ContextProfileInstance": {
      "type": "object",
      "properties": {
        "attributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeInstance"
          }
        },
        "contextProfileId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "protection": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        }
      },
      "title": "ContextProfileInstance"
    },
    "ContextProfileListResponse": {
      "type": "object",
      "properties": {
        "contextProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContextProfileInstance"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "ContextProfileListResponse"
    },
    "CreateDFWRuleResponse": {
      "type": "object",
      "properties": {
        "dfwRule": {
          "$ref": "#/definitions/DFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "CreateDFWRuleResponse"
    },
    "CreateGFWRuleResponse": {
      "type": "object",
      "properties": {
        "gfwRule": {
          "$ref": "#/definitions/GFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "CreateGFWRuleResponse"
    },
    "CreateRouterResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "routerId": {
          "type": "string"
        },
        "routerInstance": {
          "$ref": "#/definitions/RouterInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "CreateRouterResponse"
    },
    "CreateSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "CreateSecurityGroupResponse"
    },
    "DFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "DROP",
            "REJECT"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN",
            "IN_OUT",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4",
            "IPV4_IPV6",
            "IPV6"
          ]
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        }
      },
      "title": "DFWRule"
    },
    "DFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/DFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DFWRuleGetResponse"
    },
    "DFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DFWRuleListResponse"
    },
    "DeleteDFWRuleResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DeleteDFWRuleResponse"
    },
    "DeleteGFWRuleResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DeleteGFWRuleResponse"
    },
    "DeleteRouterResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "routerInstance": {
          "$ref": "#/definitions/RouterInstance"
        },
        "status": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DeleteRouterResponse"
    },
    "DeleteSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "DeleteSecurityGroupResponse"
    },
    "EdgeClusterGetResponse": {
      "type": "object",
      "properties": {
        "edgeClusterInstance": {
          "$ref": "#/definitions/EdgeClusterInstance"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "EdgeClusterGetResponse"
    },
    "EdgeClusterInstance": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "edgeClusterId": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "title": "EdgeClusterInstance"
    },
    "EdgeClusterListResponse": {
      "type": "object",
      "properties": {
        "edgeClusterCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EdgeClusterInstance"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "EdgeClusterListResponse"
    },
    "GFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "DROP",
            "REJECT"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN",
            "IN_OUT",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4",
            "IPV4_IPV6",
            "IPV6"
          ]
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouterInstance"
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        }
      },
      "title": "GFWRule"
    },
    "GFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/GFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "GFWRuleGetResponse"
    },
    "GFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "GFWRuleListResponse"
    },
    "GatewayPolicy": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "gatewayPolicyId": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        }
      },
      "title": "GatewayPolicy"
    },
    "GatewayPolicyGetResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicy": {
          "$ref": "#/definitions/GatewayPolicy"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "GatewayPolicyGetResponse"
    },
    "GatewayPolicyListResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayPolicy"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "GatewayPolicyListResponse"
    },
    "IPSet": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "ipSetAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSetAddress"
          }
        },
        "ipSetId": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        }
      },
      "title": "IPSet"
    },
    "IPSetAddress": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string"
        },
        "ipSetAddressId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "IPSetAddress"
    },
    "IPSetGetResponse": {
      "type": "object",
      "properties": {
        "ipSet": {
          "$ref": "#/definitions/IPSet"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "IPSetGetResponse"
    },
    "IPSetListResponse": {
      "type": "object",
      "properties": {
        "ipSetCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSet"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "IPSetListResponse"
    },
    "LogicalPort": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "logicalPortId": {
          "type": "string"
        }
      },
      "title": "LogicalPort"
    },
    "LogicalPortGetResponse": {
      "type": "object",
      "properties": {
        "logicalPort": {
          "$ref": "#/definitions/LogicalPort"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "LogicalPortGetResponse"
    },
    "LogicalPortListResponse": {
      "type": "object",
      "properties": {
        "logicalPortCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicalPort"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "LogicalPortListResponse"
    },
    "NetworkAdapter": {
      "type": "object",
      "properties": {
        "externalId": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "networkAdapterId": {
          "type": "string"
        }
      },
      "title": "NetworkAdapter"
    },
    "NetworkGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "networkInstance": {
          "$ref": "#/definitions/VCSNetworkInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "NetworkGetResponse"
    },
    "NetworkInstance": {
      "type": "object",
      "properties": {
        "networkAdapter": {
          "$ref": "#/definitions/NetworkAdapter"
        },
        "networkInstanceId": {
          "type": "string"
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile"
        }
      },
      "title": "NetworkInstance"
    },
    "NetworkInterfaceInstance": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "mac": {
          "type": "string"
        },
        "macType": {
          "type": "string",
          "enum": [
            "ASSIGNED",
            "GENERATED",
            "MANUAL"
          ]
        },
        "networkExternalId": {
          "type": "string"
        },
        "networkInstance": {
          "$ref": "#/definitions/VCSNetworkInstance"
        },
        "networkInterfaceId": {
          "type": "string"
        },
        "nicState": {
          "type": "string",
          "enum": [
            "CONNECTED",
            "NOT_CONNECTED",
            "RECOVERABLE_ERROR",
            "UNKNOWN",
            "UNRECOVERABLE_ERROR"
          ]
        },
        "nicType": {
          "type": "string",
          "enum": [
            "E1000",
            "E1000E",
            "PCNET32",
            "VMXNET",
            "VMXNET2",
            "VMXNET3"
          ]
        },
        "pciSlotNumber": {
          "type": "integer",
          "format": "int64"
        },
        "uptCompatibilityEnabled": {
          "type": "boolean"
        },
        "wakeOnLanEnabled": {
          "type": "boolean"
        }
      },
      "title": "NetworkInterfaceInstance"
    },
    "NetworkListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "networkInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VCSNetworkInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "NetworkListResponse"
    },
    "NetworkProfile": {
      "type": "object",
      "properties": {
        "externalId": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "networkProfileId": {
          "type": "string"
        }
      },
      "title": "NetworkProfile"
    },
    "Position": {
      "type": "object",
      "properties": {
        "reviseOperation": {
          "type": "string",
          "enum": [
            "AFTER",
            "BEFORE",
            "BOTTOM",
            "TOP"
          ]
        },
        "ruleId": {
          "type": "string"
        }
      },
      "title": "Position"
    },
    "PrincipalGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "principalId": {
          "$ref": "#/definitions/PrincipalId"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "PrincipalGetResponse"
    },
    "PrincipalId": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "principalType": {
          "type": "string",
          "enum": [
            "CUSTOM_GROUP",
            "GROUP",
            "SSO_GROUP",
            "USER"
          ]
        }
      },
      "title": "PrincipalId"
    },
    "RequestInstance": {
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "requestBody": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "requestMessageList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequestMessage"
          }
        },
        "requestPhase": {
          "type": "string",
          "enum": [
            "CANCELLED",
            "FINISHED",
            "NEW",
            "PROCESSING",
            "TIMEOUT"
          ]
        },
        "requestStatus": {
          "type": "string",
          "enum": [
            "FAILED",
            "SUCCESS"
          ]
        },
        "requestType": {
          "type": "string",
          "enum": [
            "FIREWALL_DFW_RULE_CREATE",
            "FIREWALL_DFW_RULE_DELETE",
            "FIREWALL_DFW_RULE_UPDATE",
            "FIREWALL_GFW_RULE_CREATE",
            "FIREWALL_GFW_RULE_DELETE",
            "FIREWALL_GFW_RULE_UPDATE",
            "ROUTER_CREATE",
            "ROUTER_DELETE",
            "ROUTER_UPDATE",
            "SECURITY_GROUP_CREATE",
            "SECURITY_GROUP_DELETE",
            "SECURITY_GROUP_UPDATE",
            "SUBTENANT_CREATE",
            "SUBTENANT_DELETE",
            "SUBTENANT_UPDATE"
          ]
        },
        "requestor": {
          "type": "string"
        },
        "requestorId": {
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "RequestInstance"
    },
    "RequestMessage": {
      "type": "object",
      "properties": {
        "messageDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "messageValue": {
          "type": "string"
        }
      },
      "title": "RequestMessage"
    },
    "ReservationGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "reservationInstance": {
          "$ref": "#/definitions/ReservationInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "ReservationGetResponse"
    },
    "ReservationInstance": {
      "type": "object",
      "properties": {
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "enabled": {
          "type": "boolean"
        },
        "externalId": {
          "type": "string"
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "name": {
          "type": "string"
        },
        "networkInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInstance"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "reservationId": {
          "type": "string"
        },
        "reservationType": {
          "$ref": "#/definitions/ReservationType"
        },
        "version": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ReservationInstance"
    },
    "ReservationListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "reservationInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReservationInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "ReservationListResponse"
    },
    "ReservationType": {
      "type": "object",
      "properties": {
        "reservationTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "reservationTypeName": {
          "type": "string"
        }
      },
      "title": "ReservationType"
    },
    "ResourceType": {
      "type": "object",
      "properties": {
        "resourceTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "resourceTypeName": {
          "type": "string"
        }
      },
      "title": "ResourceType"
    },
    "RouterGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "routerInstance": {
          "$ref": "#/definitions/RouterInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "RouterGetResponse"
    },
    "RouterInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "routerId": {
          "type": "string"
        },
        "routerType": {
          "type": "string",
          "enum": [
            "TIER0",
            "TIER1"
          ]
        }
      },
      "title": "RouterInstance"
    },
    "RouterListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "routerCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouterInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "RouterListResponse"
    },
    "SecurityGroup": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroupMember"
          }
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        }
      },
      "title": "SecurityGroup"
    },
    "SecurityGroupGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SecurityGroupGetResponse"
    },
    "SecurityGroupListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroupCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SecurityGroupListResponse"
    },
    "SecurityGroupMember": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "memberType": {
          "type": "string",
          "enum": [
            "IPSET",
            "LOGICAL_PORT",
            "VIRTUAL_MACHINE"
          ]
        }
      },
      "title": "SecurityGroupMember"
    },
    "SecurityPolicy": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "securityPolicyId": {
          "type": "string"
        }
      },
      "title": "SecurityPolicy"
    },
    "SecurityPolicyGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "#/definitions/SecurityPolicy"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SecurityPolicyGetResponse"
    },
    "SecurityPolicyListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityPolicy"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SecurityPolicyListResponse"
    },
    "ServiceGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "serviceInstance": {
          "$ref": "#/definitions/ServiceInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "ServiceGetResponse"
    },
    "ServiceInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "displayName": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "serviceId": {
          "type": "string"
        }
      },
      "title": "ServiceInstance"
    },
    "ServiceListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "serviceInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "ServiceListResponse"
    },
    "SubAttributeInstance": {
      "type": "object",
      "properties": {
        "attributeKey": {
          "type": "string"
        },
        "dataType": {
          "type": "string"
        },
        "subAttributeId": {
          "type": "integer",
          "format": "int32"
        },
        "subAttributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeValueInstance"
          }
        }
      },
      "title": "SubAttributeInstance"
    },
    "SubAttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "SubAttributeValueInstance"
    },
    "SubtenantCreateResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "subtenantInstance": {
          "$ref": "#/definitions/SubtenantInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SubtenantCreateResponse"
    },
    "SubtenantDeleteResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SubtenantDeleteResponse"
    },
    "SubtenantGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "subtenantInstance": {
          "$ref": "#/definitions/SubtenantInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SubtenantGetResponse"
    },
    "SubtenantInstance": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "memoryReservedSizeMB": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VCSNetworkInstance"
          }
        },
        "storageReservedSizeGB": {
          "type": "integer",
          "format": "int64"
        },
        "subtenantId": {
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserInstance"
          }
        }
      },
      "title": "SubtenantInstance"
    },
    "SubtenantListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "subtenantInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubtenantInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SubtenantListResponse"
    },
    "SubtenantUpdateResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "subtenantInstance": {
          "$ref": "#/definitions/SubtenantInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "SubtenantUpdateResponse"
    },
    "UpdateDFWRuleResponse": {
      "type": "object",
      "properties": {
        "dfwRule": {
          "$ref": "#/definitions/DFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "UpdateDFWRuleResponse"
    },
    "UpdateGFWRuleResponse": {
      "type": "object",
      "properties": {
        "gfwRule": {
          "$ref": "#/definitions/GFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "UpdateGFWRuleResponse"
    },
    "UpdateRouterResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "routerInstance": {
          "$ref": "#/definitions/RouterInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "UpdateRouterResponse"
    },
    "UpdateSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      },
      "title": "UpdateSecurityGroupResponse"
    },
    "UserGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "userInstance": {
          "$ref": "#/definitions/UserInstance"
        }
      },
      "title": "UserGetResponse"
    },
    "UserInstance": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "emailAddress": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "principalId": {
          "$ref": "#/definitions/PrincipalId"
        },
        "userId": {
          "type": "string"
        },
        "userPrincipalName": {
          "type": "string"
        }
      },
      "title": "UserInstance"
    },
    "UserListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "userInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserInstance"
          }
        }
      },
      "title": "UserListResponse"
    },
    "VCSNetworkInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "modifiedBy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "network": {
          "type": "string"
        },
        "networkId": {
          "type": "string"
        },
        "networkType": {
          "type": "string",
          "enum": [
            "DISTRIBUTED_PORTGROUP",
            "HOST_DEVICE",
            "OPAQUE_NETWORK",
            "OpaqueNetwork",
            "STANDARD_PORTGROUP"
          ]
        }
      },
      "title": "VCSNetworkInstance"
    },
    "VIDMTokenRequest": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "tenant": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "VIDMTokenRequest"
    },
    "VIDMTokenResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "token": {
          "type": "string"
        }
      },
      "title": "VIDMTokenResponse"
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "hostId": {
          "type": "string"
        },
        "virtualMachineId": {
          "type": "string"
        }
      },
      "title": "VirtualMachine"
    },
    "VirtualMachineGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "virtualMachine": {
          "$ref": "#/definitions/VirtualMachine"
        }
      },
      "title": "VirtualMachineGetResponse"
    },
    "VirtualMachineInstance": {
      "type": "object",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "format": "int64"
        },
        "memorySizeMB": {
          "type": "integer",
          "format": "int64"
        },
        "networkInterfaceInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceInstance"
          }
        },
        "powerState": {
          "type": "string",
          "enum": [
            "POWERED_OFF",
            "POWERED_ON",
            "SUSPENDED"
          ]
        },
        "virtualMachineId": {
          "type": "string"
        },
        "virtualMachineName": {
          "type": "string"
        }
      },
      "title": "VirtualMachineInstance"
    },
    "VirtualMachineListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "virtualMachineCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          }
        }
      },
      "title": "VirtualMachineListResponse"
    }
  }
}
