{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "iaas-api-core.ochk.pilot",
  "basePath": "/",
  "tags": [
    {
      "name": "gateway-policy-controller",
      "description": "Gateway Policy Controller"
    },
    {
      "name": "ip-set-controller",
      "description": "IP Set Controller"
    },
    {
      "name": "dfw-rule-controller",
      "description": "DFW Rule Controller"
    },
    {
      "name": "security-group-controller",
      "description": "Security Group Controller"
    },
    {
      "name": "auth-controller",
      "description": "Auth Controller"
    },
    {
      "name": "gfw-rule-controller",
      "description": "GFW Rule Controller"
    },
    {
      "name": "virtual-machine-controller",
      "description": "Virtual Machine Controller"
    },
    {
      "name": "context-profile-controller",
      "description": "Context Profile Controller"
    },
    {
      "name": "logical-port-controller",
      "description": "Logical Port Controller"
    },
    {
      "name": "service-controller",
      "description": "Service Controller"
    },
    {
      "name": "request-controller",
      "description": "Request Controller"
    },
    {
      "name": "security-policy-controller",
      "description": "Security Policy Controller"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "summary": "AuthTokenGet",
        "operationId": "AuthTokenGetUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthTokenCreateResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/cp": {
      "get": {
        "tags": [
          "context-profile-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContextProfileListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/cs/": {
      "get": {
        "tags": [
          "service-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_8",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/gp/": {
      "get": {
        "tags": [
          "gateway-policy-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/gp/{gatewayPolicyId}": {
      "get": {
        "tags": [
          "gateway-policy-controller"
        ],
        "summary": "Get",
        "operationId": "GetUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/gp/{gatewayPolicyId}/rules": {
      "get": {
        "tags": [
          "gfw-rule-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/gp/{gatewayPolicyId}/rules/{RuleId}": {
      "get": {
        "tags": [
          "gfw-rule-controller"
        ],
        "summary": "Get",
        "operationId": "GetUsingGET_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "RuleId",
            "in": "path",
            "description": "RuleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/sp/": {
      "get": {
        "tags": [
          "security-policy-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_7",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/sp/{SecurityPolicyId}": {
      "get": {
        "tags": [
          "security-policy-controller"
        ],
        "summary": "Get",
        "operationId": "GetUsingGET_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SecurityPolicyId",
            "in": "path",
            "description": "SecurityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/sp/{SecurityPolicyId}/rules/{RuleId}": {
      "get": {
        "tags": [
          "dfw-rule-controller"
        ],
        "summary": "Get",
        "operationId": "GetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SecurityPolicyId",
            "in": "path",
            "description": "SecurityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "RuleId",
            "in": "path",
            "description": "RuleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/fw/sp/{securityPolicyId}/rules": {
      "get": {
        "tags": [
          "dfw-rule-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/ips/": {
      "get": {
        "tags": [
          "ip-set-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IPSetListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/lp/": {
      "get": {
        "tags": [
          "logical-port-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/sg/": {
      "get": {
        "tags": [
          "security-group-controller"
        ],
        "summary": "List",
        "operationId": "ListUsingGET_6",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "security-group-controller"
        ],
        "summary": "Create",
        "operationId": "CreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/nsx/sg/{GroupId}": {
      "get": {
        "tags": [
          "security-group-controller"
        ],
        "summary": "Get",
        "operationId": "GetUsingGET_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GroupId",
            "in": "path",
            "description": "GroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "security-group-controller"
        ],
        "summary": "Delete",
        "operationId": "DeleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GroupId",
            "in": "path",
            "description": "GroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nsx/vms/": {
      "get": {
        "tags": [
          "virtual-machine-controller"
        ],
        "summary": "VirtualMachineList",
        "operationId": "VirtualMachineListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/request/": {
      "get": {
        "tags": [
          "request-controller"
        ],
        "summary": "RequestList",
        "operationId": "RequestListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInstanceListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/request/{requestId}": {
      "get": {
        "tags": [
          "request-controller"
        ],
        "summary": "RequestGet",
        "operationId": "RequestGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInstanceGetResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeInstance": {
      "type": "object",
      "properties": {
        "attributeId": {
          "type": "integer",
          "format": "int32"
        },
        "attributeKey": {
          "type": "string"
        },
        "attributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeValueInstance"
          }
        },
        "dataType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isALGType": {
          "type": "boolean"
        },
        "subAttributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeInstance"
          }
        }
      }
    },
    "AttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AuthToken": {
      "type": "object",
      "properties": {
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "tokenId": {
          "type": "string"
        },
        "tokenInstance": {
          "$ref": "#/definitions/TokenInstance"
        }
      }
    },
    "AuthTokenCreateResponse": {
      "type": "object",
      "properties": {
        "authToken": {
          "$ref": "#/definitions/AuthToken"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConnectivityStrategy": {
      "type": "object",
      "properties": {
        "connectivityStrategy": {
          "type": "string"
        },
        "connectivityStrategyId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContextProfileInstance": {
      "type": "object",
      "properties": {
        "attributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeInstance"
          }
        },
        "contextProfileId": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "protection": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "revision": {
          "type": "integer",
          "format": "int64"
        },
        "schemaValue": {
          "type": "string"
        },
        "systemOwned": {
          "type": "boolean"
        }
      }
    },
    "ContextProfileListResponse": {
      "type": "object",
      "properties": {
        "contextProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContextProfileInstance"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "CreateResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "DFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "REJECT",
            "DROP"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "destinationExcluded": {
          "type": "boolean"
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN_OUT",
            "IN",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4_IPV6",
            "IPV4",
            "IPV6"
          ]
        },
        "logged": {
          "type": "boolean"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "profile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContextProfileInstance"
          }
        },
        "protection": {
          "$ref": "#/definitions/Protection"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "sourcesExcluded": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        }
      }
    },
    "DFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/DFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "DFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "DeleteResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "GFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "REJECT",
            "DROP"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "destinationExcluded": {
          "type": "boolean"
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN_OUT",
            "IN",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4_IPV6",
            "IPV4",
            "IPV6"
          ]
        },
        "logged": {
          "type": "boolean"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "profile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContextProfileInstance"
          }
        },
        "protection": {
          "$ref": "#/definitions/Protection"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "sourcesExcluded": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        }
      }
    },
    "GFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/GFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "GFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "GatewayPolicy": {
      "type": "object",
      "properties": {
        "category": {
          "$ref": "#/definitions/Category"
        },
        "comments": {
          "type": "string"
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "gatewayPolicyId": {
          "type": "string"
        },
        "internalSequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "isDefault": {
          "type": "boolean"
        },
        "locked": {
          "type": "boolean"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "overridden": {
          "type": "boolean"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "revision": {
          "type": "integer",
          "format": "int64"
        },
        "schedulerPath": {
          "type": "string"
        },
        "schemaValue": {
          "type": "string"
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "stateful": {
          "type": "boolean"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        },
        "tcpStrict": {
          "type": "boolean"
        }
      }
    },
    "GatewayPolicyGetResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicy": {
          "$ref": "#/definitions/GatewayPolicy"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "GatewayPolicyListResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayPolicy"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "IPSet": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "ipSetAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSetAddress"
          }
        },
        "ipSetId": {
          "type": "string"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        }
      }
    },
    "IPSetAddress": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string"
        },
        "ipSetAddressId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IPSetListResponse": {
      "type": "object",
      "properties": {
        "ipSetCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSet"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "LogicalPort": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "logicalPortAdminState": {
          "$ref": "#/definitions/LogicalPortAdminState"
        },
        "logicalPortId": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        }
      }
    },
    "LogicalPortAdminState": {
      "type": "object",
      "properties": {
        "stateId": {
          "type": "integer",
          "format": "int32"
        },
        "stateName": {
          "type": "string"
        }
      }
    },
    "LogicalPortListResponse": {
      "type": "object",
      "properties": {
        "logicalPortCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicalPort"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "Protection": {
      "type": "object",
      "properties": {
        "protection": {
          "type": "string"
        },
        "protectionId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RequestInstance": {
      "type": "object",
      "properties": {
        "endDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "requestBody": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "requestMessageList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequestMessage"
          }
        },
        "requestPhase": {
          "type": "string",
          "enum": [
            "NEW",
            "PROCESSING",
            "FINISHED",
            "CANCELLED",
            "TIMEOUT"
          ]
        },
        "requestStatus": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "FAILED"
          ]
        },
        "requestType": {
          "type": "string",
          "enum": [
            "SECURITY_GROUP_CREATE",
            "SECURITY_GROUP_DELETE"
          ]
        },
        "requestor": {
          "type": "string"
        },
        "requestorId": {
          "type": "string"
        },
        "startDate": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "RequestInstanceGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "RequestInstanceListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstanceList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequestInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "RequestMessage": {
      "type": "object",
      "properties": {
        "messageDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "messageValue": {
          "type": "string"
        }
      }
    },
    "ResourceType": {
      "type": "object",
      "properties": {
        "resourceTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "resourceTypeName": {
          "type": "string"
        }
      }
    },
    "SecurityGroup": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroupMember"
          }
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        }
      }
    },
    "SecurityGroupGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "SecurityGroupListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroupCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "SecurityGroupMember": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "memberType": {
          "type": "string",
          "enum": [
            "IPSET",
            "LOGICAL_PORT",
            "VIRTUAL_MACHINE"
          ]
        }
      }
    },
    "SecurityPolicy": {
      "type": "object",
      "properties": {
        "category": {
          "$ref": "#/definitions/Category"
        },
        "comments": {
          "type": "string"
        },
        "connectivityStrategy": {
          "$ref": "#/definitions/ConnectivityStrategy"
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "internalSequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "isDefault": {
          "type": "boolean"
        },
        "locked": {
          "type": "boolean"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "overridden": {
          "type": "boolean"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "revision": {
          "type": "integer",
          "format": "int64"
        },
        "schedulerPath": {
          "type": "string"
        },
        "schemaValue": {
          "type": "string"
        },
        "securityPolicyId": {
          "type": "string"
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64"
        },
        "stateful": {
          "type": "boolean"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        },
        "tcpStrict": {
          "type": "boolean"
        }
      }
    },
    "SecurityPolicyGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "#/definitions/SecurityPolicy"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "SecurityPolicyListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityPolicy"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "ServiceInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "default": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "modificationDate": {
          "$ref": "#/definitions/Timestamp"
        },
        "modifiedBy": {
          "type": "string"
        },
        "parentPath": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "serviceId": {
          "type": "string"
        },
        "serviceType": {
          "$ref": "#/definitions/ServiceType"
        }
      }
    },
    "ServiceListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "serviceInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        }
      }
    },
    "ServiceType": {
      "type": "object",
      "properties": {
        "serviceType": {
          "type": "string"
        },
        "serviceTypeId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SubAttributeInstance": {
      "type": "object",
      "properties": {
        "attributeKey": {
          "type": "string"
        },
        "dataType": {
          "type": "string"
        },
        "subAttributeId": {
          "type": "integer",
          "format": "int32"
        },
        "subAttributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeValueInstance"
          }
        }
      }
    },
    "SubAttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TagInstance": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string"
        },
        "tagId": {
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TenantInstance": {
      "type": "object",
      "properties": {
        "tenantDescription": {
          "type": "string"
        },
        "tenantDisplayName": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "tenantName": {
          "type": "string"
        }
      }
    },
    "Timestamp": {
      "type": "object",
      "properties": {
        "date": {
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32"
        },
        "time": {
          "type": "integer",
          "format": "int64"
        },
        "timezoneOffset": {
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TokenInstance": {
      "type": "object",
      "properties": {
        "tenantInstance": {
          "$ref": "#/definitions/TenantInstance"
        },
        "userInstance": {
          "$ref": "#/definitions/UserInstance"
        }
      }
    },
    "UserInstance": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "userTempId": {
          "type": "string"
        }
      }
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "biosUuid": {
          "type": "string"
        },
        "computerExternalId": {
          "type": "string"
        },
        "computerName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "hostId": {
          "type": "string"
        },
        "hostLocationId": {
          "type": "integer",
          "format": "int32"
        },
        "instanceUuid": {
          "type": "string"
        },
        "localHost": {
          "type": "integer",
          "format": "int32"
        },
        "locationId": {
          "type": "string"
        },
        "moIdOnHost": {
          "type": "integer",
          "format": "int32"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        },
        "virtualMachineId": {
          "type": "string"
        },
        "virtualMachinePowerState": {
          "$ref": "#/definitions/VirtualMachinePowerState"
        },
        "virtualMachineType": {
          "$ref": "#/definitions/VirtualMachineType"
        },
        "virtualmachineOS": {
          "$ref": "#/definitions/VirtualMachineOS"
        }
      }
    },
    "VirtualMachineListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "$ref": "#/definitions/Timestamp"
        },
        "virtualMachineCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          }
        }
      }
    },
    "VirtualMachineOS": {
      "type": "object",
      "properties": {
        "osId": {
          "type": "integer",
          "format": "int32"
        },
        "osName": {
          "type": "string"
        }
      }
    },
    "VirtualMachinePowerState": {
      "type": "object",
      "properties": {
        "powerState": {
          "type": "string"
        },
        "powerStateId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VirtualMachineType": {
      "type": "object",
      "properties": {
        "vmType": {
          "type": "string"
        },
        "vmTypeId": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}