{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "iaas-api-proxy.ochk.pilot",
  "basePath": "/",
  "tags": [
    {
      "name": "Firewall rules S-N",
      "description": "GFW Rule Controller"
    },
    {
      "name": "Gateway policies",
      "description": "Gateway Policy Controller"
    },
    {
      "name": "IPSets",
      "description": "IP Set Controller"
    },
    {
      "name": "Virtual machines",
      "description": "Vcs Virtual Machine Controller"
    },
    {
      "name": "Context profiles",
      "description": "Context Profile Controller"
    },
    {
      "name": "Logical ports",
      "description": "Logical Port Controller"
    },
    {
      "name": "Default services",
      "description": "Service Controller"
    },
    {
      "name": "Security groups",
      "description": "Security Group Controller"
    },
    {
      "name": "Subtenants",
      "description": "Subtenant Controller"
    },
    {
      "name": "Networks",
      "description": "Vcs Network Controller"
    },
    {
      "name": "Firewall rules E-W",
      "description": "DFW Rule Controller"
    },
    {
      "name": "Routers",
      "description": "Router Controller"
    },
    {
      "name": "Security policies",
      "description": "Security Policy Controller"
    },
    {
      "name": "vIDM",
      "description": "VIDM Controller"
    }
  ],
  "paths": {
    "/network/context-profiles": {
      "get": {
        "tags": [
          "Context profiles"
        ],
        "summary": "List",
        "description": "List context profiles from NSX-T",
        "operationId": "ContextProfileListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContextProfileListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/default-services": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "List",
        "description": "List default services from NSX-T",
        "operationId": "ServiceListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/default-services/{serviceId}": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "Get",
        "description": "Get default service from NSX-T",
        "operationId": "ServiceGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/gateway-policies": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "List",
        "description": "List gateway policies from NSX-T",
        "operationId": "GatewayPolicyListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}": {
      "get": {
        "tags": [
          "Gateway policies"
        ],
        "summary": "Get",
        "description": "Get gateway policies from NSX-T",
        "operationId": "GatewayPolicyGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GatewayPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "List",
        "description": "List firewall rules (south-north) from NSX-T",
        "operationId": "GFWRuleListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules/": {
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Create",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "GFWRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/gateway-policies/{gatewayPolicyId}/rules/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Get",
        "description": "Get firewall rule (south-north) from NSX-T",
        "operationId": "GFWRuleGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Update",
        "description": "Create firewall rule (south-north) in NSX-T",
        "operationId": "GFWRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "gfwRule",
            "description": "gfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GFWRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules S-N"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (south-north) from NSX-T",
        "operationId": "GFWRuleDeleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gatewayPolicyId",
            "in": "path",
            "description": "gatewayPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteGFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "List",
        "description": "List security policies from NSX-T",
        "operationId": "SecurityPolicyListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{SecurityPolicyId}": {
      "get": {
        "tags": [
          "Security policies"
        ],
        "summary": "Get",
        "description": "Get security policy from NSX-T",
        "operationId": "SecurityPolicyGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SecurityPolicyId",
            "in": "path",
            "description": "SecurityPolicyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "List",
        "description": "List firewall rules (east-west) from NSX-T",
        "operationId": "DFWRuleListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules/": {
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Create",
        "description": "Create firewall rule (east-west) in NSX-T",
        "operationId": "DFWRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/firewall/security-policies/{securityPolicyId}/rules/{ruleId}": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Get",
        "description": "Get firewall rule (east-west) from NSX-T",
        "operationId": "DFWRuleGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Update",
        "description": "Update firewall rule (east-west) in NSX-T",
        "operationId": "DFWRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Delete",
        "description": "Delete firewall rule (east-west) from NSX-T",
        "operationId": "DFWRuleDeleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "securityPolicyId",
            "in": "path",
            "description": "securityPolicyId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteDFWRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/ipsets": {
      "get": {
        "tags": [
          "IPSets"
        ],
        "summary": "List",
        "description": "List IPSets from NSX-T",
        "operationId": "IPSetListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IPSetListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/ipsets/{ipSetId}": {
      "get": {
        "tags": [
          "IPSets"
        ],
        "summary": "Get",
        "description": "Get IPSet from NSX-T",
        "operationId": "IPSetGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipSetId",
            "in": "path",
            "description": "ipSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IPSetGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/logical-ports": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "List",
        "description": "List logical ports from NSX-T",
        "operationId": "LogicalPortListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/logical-ports/{logicalPortId}": {
      "get": {
        "tags": [
          "Logical ports"
        ],
        "summary": "Get",
        "description": "Get logical port from NSX-T",
        "operationId": "LogicalPortGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logicalPortId",
            "in": "path",
            "description": "logicalPortId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalPortGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/routers": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "List",
        "description": "List routers T0/T1 from NSX-T",
        "operationId": "RouterListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/routers/{routerId}": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "Get",
        "description": "Get router from NSX-T",
        "operationId": "RouterGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/security-groups": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "List",
        "description": "List security groups from NSX-T",
        "operationId": "SecurityGroupListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Create",
        "description": "Create security group in NSX-T",
        "operationId": "SecurityGroupCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/security-groups/{groupId}": {
      "get": {
        "tags": [
          "Security groups"
        ],
        "summary": "Get",
        "description": "Get security group from NSX-T",
        "operationId": "SecurityGroupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityGroupGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Security groups"
        ],
        "summary": "Update",
        "description": "Update security group from NSX-T",
        "operationId": "SecurityGroupUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "securityGroup",
            "description": "securityGroup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "Security groups"
        ],
        "summary": "Delete",
        "description": "Delete security group from NSX-T",
        "operationId": "SecurityGroupDeleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/virtual-machines": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "List virtual machines",
        "description": "List virtual machines from NSX-T level",
        "operationId": "VirtualMachineListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/network/virtual-machines/{virtualMachineId}": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "Get",
        "description": "Get virtual machine from NSX-T",
        "operationId": "VirtualMachineGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualMachineId",
            "in": "path",
            "description": "virtualMachineId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/subtenants": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "List",
        "description": "List subtenants",
        "operationId": "SubtenantListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/subtenants/{subtenantId}": {
      "get": {
        "tags": [
          "Subtenants"
        ],
        "summary": "Get",
        "description": "Get subtenant from NSX-T",
        "operationId": "SubtenantGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subtenantId",
            "in": "path",
            "description": "subtenantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubtenantGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vcs/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "List",
        "description": "List vSphere vCenter networks",
        "operationId": "VcsVirtualMachineListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/vcs/networks/{networkId}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get",
        "description": "Get vSphere vCenter networks",
        "operationId": "VcsVirtualMachineGroupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "networkId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vcs/virtual-machines": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "List",
        "description": "List vSphere vCenter virtual machines",
        "operationId": "VcsVirtualMachineListUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/vcs/virtual-machines/{virtualMachineId}": {
      "get": {
        "tags": [
          "Virtual machines"
        ],
        "summary": "Get",
        "description": "Get vSphere vCenter virtual machine",
        "operationId": "VcsVirtualMachineGroupGetUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtualMachineId",
            "in": "path",
            "description": "virtualMachineId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/vidm/token": {
      "post": {
        "tags": [
          "vIDM"
        ],
        "summary": "Get",
        "description": "Generate authorization token",
        "operationId": "getTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "vidmTokenRequest",
            "description": "vidmTokenRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VIDMTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VIDMTokenResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    }
  },
  "definitions": {
    "AttributeInstance": {
      "type": "object",
      "properties": {
        "attributeId": {
          "type": "integer",
          "format": "int32"
        },
        "attributeKey": {
          "type": "string"
        },
        "attributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeValueInstance"
          }
        },
        "dataType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isALGType": {
          "type": "boolean"
        },
        "subAttributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeInstance"
          }
        }
      }
    },
    "AttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConnectivityStrategy": {
      "type": "object",
      "properties": {
        "connectivityStrategy": {
          "type": "string"
        },
        "connectivityStrategyId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContextProfileInstance": {
      "type": "object",
      "properties": {
        "attributeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttributeInstance"
          }
        },
        "contextProfileId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "protection": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        }
      }
    },
    "ContextProfileListResponse": {
      "type": "object",
      "properties": {
        "contextProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContextProfileInstance"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CreateDFWRuleResponse": {
      "type": "object",
      "properties": {
        "dfwRule": {
          "$ref": "#/definitions/DFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CreateGFWRuleResponse": {
      "type": "object",
      "properties": {
        "gfwRule": {
          "$ref": "#/definitions/GFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CreateSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "REJECT",
            "DROP"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN_OUT",
            "IN",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4_IPV6",
            "IPV4",
            "IPV6"
          ]
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        }
      }
    },
    "DFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/DFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeleteDFWRuleResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeleteGFWRuleResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeleteSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DhcpConfigPath": {
      "type": "object",
      "properties": {
        "dhcpConfigPath": {
          "type": "string"
        },
        "dhcpConfigPathId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FailoverMode": {
      "type": "object",
      "properties": {
        "failoverMode": {
          "type": "string"
        },
        "failoverModeId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GFWRule": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ALLOW",
            "REJECT",
            "DROP"
          ]
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "defaultServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "IN_OUT",
            "IN",
            "OUT"
          ]
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "ipProtocol": {
          "type": "string",
          "enum": [
            "IPV4_IPV6",
            "IPV4",
            "IPV6"
          ]
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "position": {
          "$ref": "#/definitions/Position"
        },
        "ruleId": {
          "type": "string"
        },
        "scope": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouterInstance"
          }
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        }
      }
    },
    "GFWRuleGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstance": {
          "$ref": "#/definitions/GFWRule"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GFWRuleListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "ruleInstances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GFWRule"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GatewayPolicy": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "displayName": {
          "type": "string"
        },
        "gatewayPolicyId": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        }
      }
    },
    "GatewayPolicyGetResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicy": {
          "$ref": "#/definitions/GatewayPolicy"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GatewayPolicyListResponse": {
      "type": "object",
      "properties": {
        "gatewayPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayPolicy"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "HAMode": {
      "type": "object",
      "properties": {
        "haMode": {
          "type": "string"
        },
        "haModeId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IP6ProfilePath": {
      "type": "object",
      "properties": {
        "ip6ProfilePath": {
          "type": "string"
        },
        "ip6ProfilePathId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IPSet": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "displayName": {
          "type": "string"
        },
        "ipSetAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSetAddress"
          }
        },
        "ipSetId": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        }
      }
    },
    "IPSetAddress": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string"
        },
        "ipSetAddressId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IPSetGetResponse": {
      "type": "object",
      "properties": {
        "ipSet": {
          "$ref": "#/definitions/IPSet"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "IPSetListResponse": {
      "type": "object",
      "properties": {
        "ipSetCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPSet"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "InternalTransitSubnet": {
      "type": "object",
      "properties": {
        "internalTransitSubnet": {
          "type": "string"
        },
        "internalTransitSubnetId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LogicalPort": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "logicalPortId": {
          "type": "string"
        }
      }
    },
    "LogicalPortGetResponse": {
      "type": "object",
      "properties": {
        "logicalPort": {
          "$ref": "#/definitions/LogicalPort"
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "LogicalPortListResponse": {
      "type": "object",
      "properties": {
        "logicalPortCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicalPort"
          }
        },
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "NetworkGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "networkInstance": {
          "$ref": "#/definitions/NetworkInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "NetworkInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "networkId": {
          "type": "string"
        },
        "networkType": {
          "type": "string",
          "enum": [
            "STANDARD_PORTGROUP",
            "DISTRIBUTED_PORTGROUP",
            "HOST_DEVICE",
            "OPAQUE_NETWORK"
          ]
        }
      }
    },
    "NetworkInterfaceInstance": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "mac": {
          "type": "string"
        },
        "macType": {
          "type": "string",
          "enum": [
            "ASSIGNED",
            "GENERATED",
            "MANUAL"
          ]
        },
        "networkExternalId": {
          "type": "string"
        },
        "networkInstance": {
          "$ref": "#/definitions/NetworkInstance"
        },
        "networkInterfaceId": {
          "type": "string"
        },
        "nicState": {
          "type": "string",
          "enum": [
            "CONNECTED",
            "NOT_CONNECTED",
            "RECOVERABLE_ERROR",
            "UNKNOWN",
            "UNRECOVERABLE_ERROR"
          ]
        },
        "nicType": {
          "type": "string",
          "enum": [
            "E1000",
            "E1000E",
            "PCNET32",
            "VMXNET",
            "VMXNET2",
            "VMXNET3"
          ]
        },
        "pciSlotNumber": {
          "type": "integer",
          "format": "int64"
        },
        "uptCompatibilityEnabled": {
          "type": "boolean"
        },
        "wakeOnLanEnabled": {
          "type": "boolean"
        }
      }
    },
    "NetworkListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "networkInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Position": {
      "type": "object",
      "properties": {
        "reviseOperation": {
          "type": "string",
          "enum": [
            "TOP",
            "BOTTOM",
            "BEFORE",
            "AFTER"
          ]
        },
        "ruleId": {
          "type": "string"
        }
      }
    },
    "Protection": {
      "type": "object",
      "properties": {
        "protection": {
          "type": "string"
        },
        "protectionId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RequestInstance": {
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date-time"
        },
        "requestBody": {
          "type": "string"
        },
        "requestId": {
          "type": "string"
        },
        "requestMessageList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RequestMessage"
          }
        },
        "requestPhase": {
          "type": "string",
          "enum": [
            "NEW",
            "PROCESSING",
            "FINISHED",
            "CANCELLED",
            "TIMEOUT"
          ]
        },
        "requestStatus": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "FAILED"
          ]
        },
        "requestType": {
          "type": "string",
          "enum": [
            "SECURITY_GROUP_CREATE",
            "SECURITY_GROUP_DELETE",
            "FIREWALL_DFW_RULE_CREATE",
            "FIREWALL_DFW_RULE_DELETE",
            "FIREWALL_GFW_RULE_CREATE",
            "FIREWALL_GFW_RULE_DELETE",
            "SECURITY_GROUP_UPDATE",
            "FIREWALL_DFW_RULE_UPDATE",
            "FIREWALL_GFW_RULE_UPDATE"
          ]
        },
        "requestor": {
          "type": "string"
        },
        "requestorId": {
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RequestMessage": {
      "type": "object",
      "properties": {
        "messageDate": {
          "type": "string",
          "format": "date-time"
        },
        "messageValue": {
          "type": "string"
        }
      }
    },
    "ResourceType": {
      "type": "object",
      "properties": {
        "resourceTypeId": {
          "type": "integer",
          "format": "int32"
        },
        "resourceTypeName": {
          "type": "string"
        }
      }
    },
    "RouterGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "routerInstance": {
          "$ref": "#/definitions/RouterInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RouterInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "defaultRuleLogging": {
          "type": "boolean"
        },
        "dhcpConfigPathList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DhcpConfigPath"
          }
        },
        "disableFirewall": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "failoverMode": {
          "$ref": "#/definitions/FailoverMode"
        },
        "forceWithListing": {
          "type": "boolean"
        },
        "haMode": {
          "$ref": "#/definitions/HAMode"
        },
        "internalTransitSubnetList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InternalTransitSubnet"
          }
        },
        "ip6ProfilePathList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IP6ProfilePath"
          }
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "protection": {
          "$ref": "#/definitions/Protection"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "revision": {
          "type": "integer",
          "format": "int64"
        },
        "routerId": {
          "type": "string"
        },
        "routerType": {
          "type": "string",
          "enum": [
            "TIER0",
            "TIER1"
          ]
        },
        "transitSubnetList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransitSubnet"
          }
        }
      }
    },
    "RouterListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "routerCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RouterInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SecurityGroup": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroupMember"
          }
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        }
      }
    },
    "SecurityGroupGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SecurityGroupListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityGroupCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityGroup"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SecurityGroupMember": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "memberType": {
          "type": "string",
          "enum": [
            "IPSET",
            "LOGICAL_PORT",
            "VIRTUAL_MACHINE"
          ]
        }
      }
    },
    "SecurityPolicy": {
      "type": "object",
      "properties": {
        "category": {
          "$ref": "#/definitions/Category"
        },
        "connectivityStrategy": {
          "$ref": "#/definitions/ConnectivityStrategy"
        },
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "displayName": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceType"
        },
        "securityPolicyId": {
          "type": "string"
        },
        "stateful": {
          "type": "boolean"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInstance"
          }
        },
        "tcpStrict": {
          "type": "boolean"
        }
      }
    },
    "SecurityPolicyGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "#/definitions/SecurityPolicy"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SecurityPolicyListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "securityPolicyCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityPolicy"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ServiceGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "serviceInstance": {
          "$ref": "#/definitions/ServiceInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ServiceInstance": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "string"
        },
        "creationDate": {
          "type": "string",
          "format": "date-time"
        },
        "displayName": {
          "type": "string"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedBy": {
          "type": "string"
        },
        "serviceId": {
          "type": "string"
        }
      }
    },
    "ServiceListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "serviceInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SubAttributeInstance": {
      "type": "object",
      "properties": {
        "attributeKey": {
          "type": "string"
        },
        "dataType": {
          "type": "string"
        },
        "subAttributeId": {
          "type": "integer",
          "format": "int32"
        },
        "subAttributeValueList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubAttributeValueInstance"
          }
        }
      }
    },
    "SubAttributeValueInstance": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "valueId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SubtenantGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "subtenantInstance": {
          "$ref": "#/definitions/SubtenantInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "SubtenantInstance": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subtenantId": {
          "type": "string"
        }
      }
    },
    "SubtenantListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "subtenantInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubtenantInstance"
          }
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "TagInstance": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string"
        },
        "tagId": {
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TransitSubnet": {
      "type": "object",
      "properties": {
        "transitSubnet": {
          "type": "string"
        },
        "transitSubnetId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpdateDFWRuleResponse": {
      "type": "object",
      "properties": {
        "dfwRule": {
          "$ref": "#/definitions/DFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "UpdateGFWRuleResponse": {
      "type": "object",
      "properties": {
        "gfwRule": {
          "$ref": "#/definitions/GFWRule"
        },
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "UpdateSecurityGroupResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "requestInstance": {
          "$ref": "#/definitions/RequestInstance"
        },
        "securityGroup": {
          "$ref": "#/definitions/SecurityGroup"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "VIDMTokenRequest": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "tenant": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "VIDMTokenResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "hostId": {
          "type": "string"
        },
        "virtualMachineId": {
          "type": "string"
        }
      }
    },
    "VirtualMachineGetResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "virtualMachine": {
          "$ref": "#/definitions/VirtualMachine"
        }
      }
    },
    "VirtualMachineInstance": {
      "type": "object",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "format": "int64"
        },
        "memorySizeMB": {
          "type": "integer",
          "format": "int64"
        },
        "networkInterfaceInstanceCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceInstance"
          }
        },
        "powerState": {
          "type": "string",
          "enum": [
            "POWERED_ON",
            "POWERED_OFF",
            "SUSPENDED"
          ]
        },
        "virtualMachineId": {
          "type": "string"
        },
        "virtualMachineName": {
          "type": "string"
        }
      }
    },
    "VirtualMachineListResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "virtualMachineCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          }
        }
      }
    }
  }
}