{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "iaas-api-proxy.ochk.pilot",
  "basePath": "/",
  "tags": [
    {
      "name": "Active Directory RSA Public Key",
      "description": "Ads Public Key Controller"
    },
    {
      "name": "Active Directory Sync",
      "description": "Sync Controller"
    },
    {
      "name": "Backups",
      "description": "Backup Controller"
    },
    {
      "name": "Billing accounts",
      "description": "Billing Alarm Definition Controller"
    },
    {
      "name": "Custom services",
      "description": "Custom Service Controller"
    },
    {
      "name": "Default services",
      "description": "Service Controller"
    },
    {
      "name": "Deployments",
      "description": "Deployment Controller"
    },
    {
      "name": "Firewall rules E-W",
      "description": "DFW Rule Controller"
    },
    {
      "name": "Firewall rules S-N",
      "description": "GFW Rule Controller"
    },
    {
      "name": "Folder",
      "description": "Folder Controller"
    },
    {
      "name": "IP Collections",
      "description": "Ip Collection Controller"
    },
    {
      "name": "IPAM Available public IP address",
      "description": "Available Public IP Controller"
    },
    {
      "name": "IPAM Public IP Allocations",
      "description": "Public IP Allocation Controller"
    },
    {
      "name": "IPAM services",
      "description": "Ipam Service Controller"
    },
    {
      "name": "KMS Key management",
      "description": "Key Controller"
    },
    {
      "name": "KMS Key rotation scheduler",
      "description": "Key Schedule Controller"
    },
    {
      "name": "Log categories",
      "description": "Log Controller"
    },
    {
      "name": "Log categories (user access)",
      "description": "Log Category Users Controller"
    },
    {
      "name": "Log stats",
      "description": "Log Stats Controller"
    },
    {
      "name": "Log stats user",
      "description": "Log Stats User Controller"
    },
    {
      "name": "Logs",
      "description": "Log Histogram Controller"
    },
    {
      "name": "Logs (user access)",
      "description": "Log User Controller"
    },
    {
      "name": "MCS Secret",
      "description": "Mcs Secret Controller"
    },
    {
      "name": "NAT Rules",
      "description": "NAT Rule Controller"
    },
    {
      "name": "Projects",
      "description": "Project Controller"
    },
    {
      "name": "Requests",
      "description": "Request Controller"
    },
    {
      "name": "Routers",
      "description": "Router Controller"
    },
    {
      "name": "Security groups",
      "description": "Security Group Controller"
    },
    {
      "name": "Snapshots",
      "description": "Snapshot Controller"
    },
    {
      "name": "Tags",
      "description": "Tag Controller"
    },
    {
      "name": "Virtual machines",
      "description": "Vcs Virtual Machine Controller"
    },
    {
      "name": "Virtual networks",
      "description": "Virtual Network Controller"
    },
    {
      "name": "WSO2 Logout Token",
      "description": "WSO Logout Controller"
    },
    {
      "name": "WSO2 Token",
      "description": "WSO Controller"
    },
    {
      "name": "WSO2 UI Logout Token",
      "description": "WSOUI Logout Controller"
    }
  ],
  "paths": {
    "/ads/cer": {
      "post": {
        "tags": [
          "Active Directory RSA Public Key"
        ],
        "summary": "Get public key",
        "description": "Get public key",
        "operationId": "getPublicKeyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getPublicKeyRequest",
            "description": "getPublicKeyRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPublicKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/GetPublicKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/ads/sync": {
      "post": {
        "tags": [
          "Active Directory Sync"
        ],
        "summary": "Sync",
        "description": "Sync",
        "operationId": "syncUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createSyncRequest",
            "description": "createSyncRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSyncRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SyncMessageResponse"
            }
          },
          "201": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/SyncMessageResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/backups/plans": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List backup plans",
        "description": "List backup plans",
        "operationId": "backupPlanListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupPlanName",
            "in": "query",
            "description": "backupPlanName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupPlanListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get backup plan",
        "description": "Get backup plan",
        "operationId": "backupPlanGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupPlanGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}/lists": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "List backup lists",
        "description": "List backup lists",
        "operationId": "backupListListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupListName",
            "in": "query",
            "description": "backupListName",
            "required": false,
            "type": "string"
          },
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupListListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/backups/plans/{backupPlanId}/lists/{backupListId}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Get backup list get",
        "description": "Get backup list",
        "operationId": "backupListGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "backupListId",
            "in": "path",
            "description": "backupListId",
            "required": true,
            "type": "string"
          },
          {
            "name": "backupPlanId",
            "in": "path",
            "description": "backupPlanId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupListGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/billing/accounts": {
      "get": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "List",
        "description": "List accounts",
        "operationId": "accountListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Create",
        "description": "Create account",
        "operationId": "accountCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accountInstance",
            "description": "accountInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/AccountCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/billing/accounts/{accountId}": {
      "get": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Get",
        "description": "Get account",
        "operationId": "accountGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Update",
        "description": "Update account",
        "operationId": "accountUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "accountInstance",
            "description": "accountInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountUpdateResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/AccountUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Delete",
        "description": "Delete account",
        "operationId": "accountDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountDeleteResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/AccountDeleteResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/billing/alarm-definition": {
      "put": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Create",
        "description": "Create billing alarm definition",
        "operationId": "billingAlarmDefinitionCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "billingAlarmDefinition",
            "description": "billingAlarmDefinition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingAlarmDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateBillingAlarmDefinitionResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateBillingAlarmDefinitionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/billing/alarm-definition/{alarmDefinitionId}": {
      "put": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Update",
        "description": "Update billing alarm definition",
        "operationId": "accountUpdateUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alarmDefinitionId",
            "in": "path",
            "description": "alarmDefinitionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "billingAlarmDefinition",
            "description": "billingAlarmDefinition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingAlarmDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateBillingAlarmDefinitionResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateBillingAlarmDefinitionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing accounts"
        ],
        "summary": "Delete",
        "description": "Delete billing alarm definition",
        "operationId": "accountDeleteUsingDELETE_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alarmDefinitionId",
            "in": "path",
            "description": "alarmDefinitionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteBillingAlarmDefinitionResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteBillingAlarmDefinitionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List",
        "description": "List deployments from server",
        "operationId": "deploymentListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get",
        "description": "Get deployment object",
        "operationId": "deploymentGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "deploymentId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/folder/{projectId}": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "List",
        "description": "List folder",
        "operationId": "folderListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "folderPath",
            "in": "query",
            "description": "folderPath",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/folder/{projectId}/{id}": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Get",
        "description": "Get folder",
        "operationId": "folderGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/ipam/ipaddress/public/allocation": {
      "get": {
        "tags": [
          "IPAM Public IP Allocations"
        ],
        "summary": "List",
        "description": "List allocations of public IPs",
        "operationId": "allocationListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipAddress",
            "in": "query",
            "description": "ipAddress",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PublicIpAllocationListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "put": {
        "tags": [
          "IPAM Public IP Allocations"
        ],
        "summary": "Create",
        "description": "Create public IP allocation object",
        "operationId": "allocationCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "publicIpAllocation",
            "description": "publicIpAllocation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublicIpAllocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatePublicIPAllocationResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreatePublicIPAllocationResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/ipam/ipaddress/public/allocation/{allocationId}": {
      "get": {
        "tags": [
          "IPAM Public IP Allocations"
        ],
        "summary": "Get",
        "description": "Get allocation of public IP",
        "operationId": "allocationGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "allocationId",
            "in": "path",
            "description": "allocationId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PublicIpAllocationGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "IPAM Public IP Allocations"
        ],
        "summary": "Update",
        "description": "Update public IP allocation object",
        "operationId": "allocationUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "allocationId",
            "in": "path",
            "description": "allocationId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "publicIpAllocation",
            "description": "publicIpAllocation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublicIpAllocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/UpdatePublicIPAllocationResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      },
      "delete": {
        "tags": [
          "IPAM Public IP Allocations"
        ],
        "summary": "Delete",
        "description": "Delete public IP allocation object",
        "operationId": "allocationDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "allocationId",
            "in": "path",
            "description": "allocationId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeletePublicIPAllocationResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/ipam/ipaddress/public/available": {
      "get": {
        "tags": [
          "IPAM Available public IP address"
        ],
        "summary": "Get",
        "description": "Get IPAM service",
        "operationId": "availablePublicIPGetUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailablePublicIPGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/ipam/services": {
      "get": {
        "tags": [
          "IPAM services"
        ],
        "summary": "List",
        "description": "List IPAM services",
        "operationId": "ipamServicesListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/ipam/services/{serviceId}": {
      "get": {
        "tags": [
          "IPAM services"
        ],
        "summary": "Get",
        "description": "Get IPAM service",
        "operationId": "ipamServiceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/ipcs": {
      "get": {
        "tags": [
          "IP Collections"
        ],
        "summary": "List",
        "description": "List ip collection",
        "operationId": "ipCollectionListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Create",
        "description": "Create Ip collection",
        "operationId": "ipCollectionCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ipCollection",
            "description": "ipCollection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionCreateResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/IpCollectionCreateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/ipcs/{ipCollectionId}": {
      "get": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Get",
        "description": "Get ip collection",
        "operationId": "ipCollectionGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Update",
        "description": "Update ip collection",
        "operationId": "ipCollectionUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ipCollection",
            "description": "ipCollection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCollection"
            }
          },
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionUpdateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "IP Collections"
        ],
        "summary": "Delete",
        "description": "Delete ip collection",
        "operationId": "ipCollectionDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "force",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ipCollectionId",
            "in": "path",
            "description": "ipCollectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IpCollectionDeleteResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key": {
      "get": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "List",
        "description": "List KMS keys",
        "operationId": "keyListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Create",
        "description": "Create key (KMS)",
        "operationId": "keyCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyInstance",
            "description": "keyInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateKmsKeyResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/import": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Import",
        "description": "Import key (KMS)",
        "operationId": "keyImportUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyImport",
            "description": "keyImport",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyImport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImportKmsKeyResponse"
            }
          },
          "201": {
            "description": "Entity has been imported",
            "schema": {
              "$ref": "#/definitions/ImportKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}": {
      "get": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Get",
        "description": "Get KMS key",
        "operationId": "keyGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "delete": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Delete",
        "description": "Delete key (KMS)",
        "operationId": "keyDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/export": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Export",
        "description": "Export key (KMS)",
        "operationId": "keyExportUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyExport",
            "description": "keyExport",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyExport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key has been exported successfully.",
            "schema": {
              "$ref": "#/definitions/ExportKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/revoke": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "Revoke",
        "description": "Revoke key (KMS)",
        "operationId": "keyRevokeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyRevocation",
            "description": "keyRevocation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRevocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key has been revoked.",
            "schema": {
              "$ref": "#/definitions/RevokeKmsKeyResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/key/{id}/versions": {
      "post": {
        "tags": [
          "KMS Key management"
        ],
        "summary": "New version",
        "description": "Create new key version (KMS)",
        "operationId": "keyNewVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyNewVersion",
            "description": "keyNewVersion",
            "required": false,
            "schema": {
              "$ref": "#/definitions/KeyNewVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateNewKmsKeyVersionResponse"
            }
          },
          "201": {
            "description": "New key version has been created.",
            "schema": {
              "$ref": "#/definitions/CreateNewKmsKeyVersionResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/schedule": {
      "put": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Create",
        "description": "Create key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "keyRotationSchedule",
            "description": "keyRotationSchedule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRotationSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateKeyRotationScheduleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/kms/schedule/{keyId}": {
      "get": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Get",
        "description": "Get key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyRotationScheduleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Update",
        "description": "Update key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "keyRotationSchedule",
            "description": "keyRotationSchedule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyRotationSchedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "KMS Key rotation scheduler"
        ],
        "summary": "Delete",
        "description": "Delete key rotation schedule (KMS)",
        "operationId": "keyRotationScheduleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "keyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteKeyRotationScheduleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories": {
      "get": {
        "tags": [
          "Log categories"
        ],
        "summary": "List",
        "description": "List log categories",
        "operationId": "logCategoriesListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryName",
            "in": "query",
            "description": "logCategoryName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories/{logCategoryId}": {
      "get": {
        "tags": [
          "Log categories"
        ],
        "summary": "Get",
        "description": "Get log category",
        "operationId": "logCategoryGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Log categories"
        ],
        "summary": "Update",
        "description": "Update log category",
        "operationId": "logCategoryUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "logCategory",
            "description": "logCategory",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogCategory"
            }
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/UpdateLogCategoryResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories/{logCategoryId}/generate": {
      "post": {
        "tags": [
          "Log categories"
        ],
        "summary": "Get logs",
        "description": "Get logs",
        "operationId": "getLogsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataSize",
            "in": "query",
            "description": "dataSize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lastIndex",
            "in": "query",
            "description": "lastIndex",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/GetLogsResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/categories/{logCategoryId}/generatebydsl": {
      "post": {
        "tags": [
          "Log categories"
        ],
        "summary": "Get logs by DSL query",
        "description": "Get logs by DSL query",
        "operationId": "getLogsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataSize",
            "in": "query",
            "description": "dataSize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "serializedDslQuery",
            "description": "serializedDslQuery",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/GetLogsResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/log/histogram/category": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram by category",
        "description": "Get log histogram by category",
        "operationId": "getHistogramCategoryUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/histogram/custom": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram by custom field",
        "description": "Get log histogram by custom field",
        "operationId": "getHistogramCustomUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "name": "fieldName",
            "in": "query",
            "description": "fieldName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/histogram/severity": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram by severity",
        "description": "Get log histogram by severity",
        "operationId": "getHistogramSeverityUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/histogram/user/category": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram for user by category",
        "description": "Get log histogram for user by category",
        "operationId": "getHistogramCategoryUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/histogram/user/custom": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram for user by custom field",
        "description": "Get log histogram for user by custom field",
        "operationId": "getHistogramCustomUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "name": "fieldName",
            "in": "query",
            "description": "fieldName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/histogram/user/severity": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Get log histogram for user by severity",
        "description": "Get log histogram for user by severity",
        "operationId": "getHistogramSeverityUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "calendarInterval",
            "in": "query",
            "description": "calendarInterval",
            "required": false,
            "type": "string",
            "enum": [
              "day",
              "hour",
              "minute",
              "month",
              "quarter",
              "week",
              "year"
            ]
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogHistogram"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/stats": {
      "post": {
        "tags": [
          "Log stats"
        ],
        "summary": "Get logs stats",
        "description": "Get logs stats",
        "operationId": "getLogsStatsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogStats"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/stats/user": {
      "post": {
        "tags": [
          "Log stats user"
        ],
        "summary": "Get logs stats",
        "description": "Get logs stats",
        "operationId": "getLogsStatsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogStats"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/stats/user/{logCategoryId}": {
      "post": {
        "tags": [
          "Log stats user"
        ],
        "summary": "Get log stats per category",
        "description": "Get log stats per category",
        "operationId": "getLogsCountUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogCategoryStats"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/stats/{logCategoryId}": {
      "post": {
        "tags": [
          "Log stats"
        ],
        "summary": "Get log stats per category",
        "description": "Get log stats per category",
        "operationId": "getLogsCountUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogCategoryStats"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/user/categories": {
      "get": {
        "tags": [
          "Log categories (user access)"
        ],
        "summary": "List logs categories",
        "description": "List logs categories for user",
        "operationId": "logCategoryListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryName",
            "in": "query",
            "description": "logCategoryName",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/user/categories/{logCategoryId}": {
      "get": {
        "tags": [
          "Log categories (user access)"
        ],
        "summary": "Get log category",
        "description": "Get log category for user",
        "operationId": "logCategoryGetUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogCategoryGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/log/user/categories/{logCategoryId}/generate": {
      "post": {
        "tags": [
          "Logs (user access)"
        ],
        "summary": "Get logs",
        "description": "Get logs",
        "operationId": "getLogsUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataSize",
            "in": "query",
            "description": "dataSize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lastIndex",
            "in": "query",
            "description": "lastIndex",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "queryFilter",
            "description": "queryFilter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogsResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/log/user/categories/{logCategoryId}/generatebydsl": {
      "post": {
        "tags": [
          "Logs (user access)"
        ],
        "summary": "Get logs",
        "description": "Get logs",
        "operationId": "getLogsUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataSize",
            "in": "query",
            "description": "dataSize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "logCategoryId",
            "in": "path",
            "description": "logCategoryId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "serializedDslQuery",
            "description": "serializedDslQuery",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLogsResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages."
          }
        }
      }
    },
    "/mcs/secret": {
      "get": {
        "tags": [
          "MCS Secret"
        ],
        "summary": "Get MCS secret",
        "description": "Get MCS secret",
        "operationId": "mcsGetSecretUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "username",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/McsSecretGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/mcs/secret/generate": {
      "post": {
        "tags": [
          "MCS Secret"
        ],
        "summary": "Generate MCS secret",
        "description": "Generate MCS Secret",
        "operationId": "mcsGenerateSecretUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "mcsSecret",
            "description": "mcsSecret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/McsSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request has been completed successfully",
            "schema": {
              "$ref": "#/definitions/McsSecretGenerateResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/custom-services": {
      "get": {
        "tags": [
          "Custom services"
        ],
        "summary": "List",
        "description": "List custom services from NSX-T",
        "operationId": "customServiceListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom services"
        ],
        "summary": "Create",
        "description": "Create custom service in NSX-T",
        "operationId": "customServiceCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customServiceInstance",
            "description": "customServiceInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomServiceInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/custom-services/{serviceId}": {
      "get": {
        "tags": [
          "Custom services"
        ],
        "summary": "Get",
        "description": "Get custom service from NSX-T",
        "operationId": "customServiceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Custom services"
        ],
        "summary": "Update",
        "description": "Update custom service from NSX-T",
        "operationId": "customServiceUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customServiceInstance",
            "description": "customServiceInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomServiceInstance"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom services"
        ],
        "summary": "Delete",
        "description": "Delete custom service from NSX-T",
        "operationId": "customServiceDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "force",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteCustomServiceResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteCustomServiceResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/default-services": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "List",
        "description": "List default services from NSX-T",
        "operationId": "serviceListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/default-services/{serviceId}": {
      "get": {
        "tags": [
          "Default services"
        ],
        "summary": "Get",
        "description": "Get default service from NSX-T",
        "operationId": "serviceGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      }
    },
    "/network/nat/rules": {
      "get": {
        "tags": [
          "NAT Rules"
        ],
        "summary": "List",
        "description": "List NAT rules",
        "operationId": "natRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NATRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "NAT Rules"
        ],
        "summary": "Create",
        "description": "Create NAT rule",
        "operationId": "natRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "natRuleInstance",
            "description": "natRuleInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NATRuleInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateNATRuleResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateNATRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/nat/rules/{ruleId}": {
      "get": {
        "tags": [
          "NAT Rules"
        ],
        "summary": "Get",
        "description": "Get NAT rule",
        "operationId": "natRuleGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NATRuleGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "NAT Rules"
        ],
        "summary": "Update",
        "description": "Update NAT rule",
        "operationId": "natRuleUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "natRuleInstance",
            "description": "natRuleInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NATRuleInstance"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateNATRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NAT Rules"
        ],
        "summary": "Delete",
        "description": "Delete NAT rule",
        "operationId": "natRuleDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteNATRuleResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "List",
        "description": "List routers T0/T1 from NSX-T",
        "operationId": "routerListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Create",
        "description": "Create router T1 in NSX-T",
        "operationId": "routerCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been created",
            "schema": {
              "$ref": "#/definitions/CreateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}": {
      "get": {
        "tags": [
          "Routers"
        ],
        "summary": "Get",
        "description": "Get router from NSX-T",
        "operationId": "routerGetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RouterGetResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          },
          "404": {
            "description": "Entity not found."
          }
        }
      },
      "put": {
        "tags": [
          "Routers"
        ],
        "summary": "Update",
        "description": "Update router T1 from NSX-T",
        "operationId": "routerUpdateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "routerInstance",
            "description": "routerInstance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RouterInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been updated",
            "schema": {
              "$ref": "#/definitions/UpdateRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Routers"
        ],
        "summary": "Delete",
        "description": "Delete router T1 from NSX-T",
        "operationId": "routerDeleteUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "201": {
            "description": "Entity has been deleted",
            "schema": {
              "$ref": "#/definitions/DeleteRouterResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      }
    },
    "/network/routers/{routerId}/rules/e-w": {
      "get": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "List",
        "description": "List firewall rules (east-west) from NSX-T",
        "operationId": "dfwRuleListUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "description": "displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DFWRuleListResponse"
            }
          },
          "400": {
            "description": "Bad request, error occurred. For more details see log messages.",
            "schema": {
              "$ref": "#/definitions/ProxyResponseMessage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Firewall rules E-W"
        ],
        "summary": "Create",
        "description": "Create firewall rule (east-west) in NSX-T",
        "operationId": "dfwRuleCreateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dfwRule",
            "description": "dfwRule",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DFWRule"
            }
          },
          {
            "name": "routerId",
            "in": "path",
            "description": "routerId",
[...]
